@using System.Collections.ObjectModel
@using ExpenseTracker.Models.UI
@inject IJSRuntime JS

<h3>ExpenseListByCategory</h3>


@code {

    [Parameter]
    public ObservableCollection<UiGroupByCategoryItem> ItemsSource { get; set; }

}
