
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    <div>
        <div class="progress-ring"></div>
        <label style="margin-top: 5px; font-size:14px;">Loading...</label>
    </div>
</div>