
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh; width: 100vw;">
    <div class="progress-ring"></div>
    <div>Loading...</div>
</div>  