@inherits LayoutComponentBase


<HeadContent>

    @if (IsDarkMode)
    {
        
    }

</HeadContent>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    public bool IsDarkMode { get; set; } = true;
}
