
/* Default (light) theme #ffffff */
:root {
    --bg-color: #ffffff;
    --text-color: #1f2937;
    --maui-btn-bg: #512BD4;
    --list-item-main-bg: #F3F4F6;
    --list-sub-item-bg: white;
    --status-ring-color: #6200EE;
    --status-ring-cut-color: #FFFFFF;
}

.dark-mode {
    --bg-color: #1f1f1f;
    --text-color: white;
    --maui-btn-bg: #ac99ea;
    --list-item-main-bg: #141414;
    --list-sub-item-bg: #404040;
    --status-ring-color: #FFFFFF;
    --status-ring-cut-color: #1f1f1f;
}

html, body, #app {
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}