@using ExpenseTracker.Features.DetailsOfSummaryReport.ViewModels
@using ExpenseTracker.Helpers

<h3>SummaryDetailsRazorPage</h3>

@code {
    SummaryDetailsViewModel _viewModel;
    protected override Task OnInitializedAsync()
    {
        string parent = string.Empty;
        _viewModel = DiContainerSummaryDetails.GetViewModel(out parent);
        Console.WriteLine($"************** Parent: {parent}");
        return base.OnInitializedAsync();
    }
}
